  .image-slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }
  
  button:hover {
    color: #555;
  }