.parentConatiner {
  background: #0b57d0;
  height: 100vh;
}

.event_photo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.event_photo_header>.header_icon_box {
  display: flex;

}

.event_photo_header>.header_icon_box img {
  width: 100%;
}

.event_photo_header>.header_icon_box>div {
  width: 40px;
  margin: 0px 4px;
}

.logoImgEvent {
  margin-top: -30px;
  margin-left: -34px;
  width: 280px;
}

.logoImgEvent>img {
  width: 100%;
}

.galleryImg {
  max-width: calc(100vw - 850px);
  min-width: 400px;
  border-left: 5px solid #fff;
  padding: 0px 0px 0px 130px;
}

.carouselContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px 0px 80px;
}

.carouselImg {
  width: 100%;
  border-radius: 12px;
  border: 2px solid #fff !important;
}

.carouselVid {
  width: 100%;
}

.carouselVid>video {
  width: 100% !important;
  height: 100% !important;
  border-radius: 12px;
  width: 400px;
  height: 400px;
  border: 2px solid #fff !important;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
video::-webkit-media-controls-play-button {display: none;}
video::-webkit-media-controls-timeline {display: none;}
video::-webkit-media-controls-current-time-display{display: none;}
video::-webkit-media-controls-time-remaining-display {display: none;}
video::-webkit-media-controls-mute-button {display: none;}
video::-webkit-media-controls-toggle-closed-captions-button {display: none;}
video::-webkit-media-controls-volume-slider {display: none;}



@media only screen and (max-width: 1024px) {
  .galleryImg {
    max-width: calc(100vw - 600px);

  }

}

.games_heading {
  font-size: 24px;
  font-weight: bold;
  font-family: 'robotoRegular';
  color: #fff;
  padding: 0px 0px 20px 0px;
}

.poseoff_game {
  display: flex;
  gap: 10px;
  padding: 5px 5px 15px 0px;
}

.poseoff_text {
  padding-left: 12px;
}

.p_text {
  font-size: 32px;
  font-weight: bold;
  font-family: 'robotoRegular';
  color: #fff;
}

.instruction_text {
  font-size: 14px;
  font-family: 'robotoRegular';
  color: #fff;
  padding: 10px 0px 0px 0px;
  max-width: 425px;
}

.img_game_img {
  width: 80px;
  cursor: pointer;
}

.img_game_img>img {
  width: 100%;
}

.game_container {
  display: grid;
  grid-template-columns: 80px 1fr;
  padding-top: 5px;
}

.bottomFooterEvent {
  position: absolute;
  width: 100%;
  line-height: 45px;
  background-color: rgba(63, 127, 222, 1);
  bottom: 0;
  text-align: center;
  font-family: 'segoe';
}

.bottomMarkTextEvent {
  padding-left: 35px;
  margin: 0;
  background: url(src/assets/footer-logo.png) no-repeat left center;
  display: inline-block;
  color: #fff;
  font-family: 'segoe';
}
.header_icon_box {
  cursor: pointer;
}