/* @import url(''); */

.ttss {
  padding-right: 12px;
  font-weight: bold;
  font-size: 33px;
  padding-top: 5px;
  font-family: "The Hound";
}
.ttssBlack {
  padding-right: 12px;
  font-weight: bold;
  font-size: 33px;
  padding-top: 7px;
}

.ttssYourRank {
  padding-right: 12px;
  font-weight: bold;
  font-size: 33px;
  padding-top: 5px;
  font-family: "The Hound";
  color: #65ffb2;
}
.normal {
  color: #000;
  color: #fff;
}
.ttssNormal {
  padding-right: 12px;
  font-weight: bold;
  font-size: 33px;
  padding-top: 5px;
  color: #fff;
  font-family: "The Hound", sans-serif;
}
.edgeNormal {
  line-height: 40px;
  background-color: #fff;
  border-radius: 10px;
  width: 82px;
  padding: 9px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-family: "The Hound", sans-serif;
}
.evalueNormal {
  width: 65px;
  border-radius: 10px;
  font-size: 32px;
  background-color: #fff;
  color: #0b57d0;
  text-align: center;
  margin-left: 17px;
  line-height: 50px;
  padding-top: 5px;
  font-family: "The Hound", sans-serif;
}
.ybgl-left {
  display: flex;
  padding-left: 10px;
}
.ybgl-leftBlack {
  display: flex;
  padding-left: 10px;
}
.john-txt {
  padding-left: 80px;
  padding-top: 5px;
}
.john-txt strong {
  padding: 5px 0 0 10px;
  display: inline-block;
  font-size: 26px;
}
.john-txt p {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  padding-left: 12px;
  margin-top: -12px;
}
.john-txtSeeYourRank {
  padding-left: 80px;
  padding-top: 5px;
}
.john-txtSeeYourRank strong {
  color: #65ffb2;
  padding-left: 12px;
  padding-top: 5px;
  font-size: 26px;
}
.john-txtSeeYourRank p {
  color: #65ffb2;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  padding-left: 12px;
}

.mbg {
  width: 94%;
  position: fixed;
  top: 0;
  background-color: #0b57d0;
  padding: 30px !important;
  overflow: auto;
  height: calc(100vh - 60px);
}
.ltxt {
  font-family: RobotoCondensedMedium;
  font-size: 80px;
  color: #fff;
  float: left;
}
.pkl {
  display: flex;
  float: right;
}
.dlt-hdr {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.imgatr {
  width: 100%;
  height: auto;
  padding-top: 15px;
}
.whitebgl {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 22px;
  padding: 5px;
  display: flex;
}
.blackbgl {
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 22px;
  padding: 5px;
  display: flex;
}
.ybgl {
  background-color: #fbb03b;
  border-radius: 22px;
  border: 9px solid #db6432;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}
.ybglBlack {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    105deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 22px;
  border: 9px solid #fff;
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}
.edge {
  line-height: 40px;
  background-color: #000;
  border-radius: 10px;
  width: 82px;
  padding: 9px;
  color: #fff;
  text-align: center;
  font-family: "The Hound";
  font-size: 16px;
}
.edgeBlack {
  background-color: #fff;
  border-radius: 10px;
  width: 82px;
  padding: 9px;
  color: #fff;
  text-align: center;
  font-size: 24px;
}
.evalue {
  line-height: 50px;
  width: 65px;
  border-radius: 10px;
  font-size: 32px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-left: 17px;
  padding-top: 5px;
  font-family: "The Hound";
  font-size: 32px;
}
.evalueBlack {
  width: 45px;
  border-radius: 10px;
  font-size: 32px;
  background-color: #fff;
  color: #fff;
  text-align: center;
  margin-left: 17px;
  font-size: 32px;
}
.lbgs {
  display: flex;
}
.lbgsBlack {
  display: flex;
}

.timerLeaderboard {
  float: left;
  margin-right: 70px;
}
.timerLeaderboard svg path {
  fill: rgba(255, 255, 255, 0.1);
}
.timerLeaderboard svg path:nth-child(1) {
  stroke: rgba(255, 255, 255, 0);
}
.timerLeaderboard svg path:nth-child(2) {
  stroke: rgba(255, 255, 255, 1);
}
.timerLeaderboard div {
  color: #fff !important;
  font: normal 32px "The Hound";
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.close-button {
  float: left;
}

.edgeYourRank {
  line-height: 40px;
  background-color: #65ffb2;
  border-radius: 10px;
  width: 82px;
  padding: 9px;
  color: #000;
  text-align: center;
  font-family: "The Hound";
  font-size: 20px;
}

.evalueYourRank {
  width: 65px;
  border-radius: 10px;
  font-size: 32px;
  background-color: #65ffb2;
  color: #000;
  text-align: center;
  margin-left: 17px;
  padding-top: 5px;
  font-family: "The Hound";
  font-size: 32px;
}

.participation-result {
  display: flex;
  float: right;
}
.participant-info {
  float: left;
}
.participant-info img {
  float: left;
  padding-left: 20px;
  padding-top: 13px;
}
.leaderboard-item-container {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px;
  border: 6px white solid;
  line-height: 35px;
  border-radius: 35px;
  background: linear-gradient(
    90deg,
    rgba(251, 176, 59, 1) 0%,
    rgba(219, 100, 50, 1) 100%
  );
}

.leaderboard-item-containerSeeYourRank {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 8px;
  margin: 0px auto;
  margin-top: 30px;
  width: 91vw;
  border: 6px #65ffb2 solid;
  border-radius: 35px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.leaderboard-iten-content-wrapper {
  position: relative;
  border-radius: 22px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.participant-info img {
  width: 55px;
  height: 55px;
}

.reflection img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
}

.participation-result {
  padding-top: 10px;
  padding-right: 20px;
}

.leaderboard-item-container.normal {
  background: linear-gradient(
    90deg,
    rgba(51, 124, 241, 1) 0%,
    rgba(5, 58, 143, 1) 100%
  );
}

.leaderboard-item-container.normal.yourRank {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.53) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.seeYourRank {
  background-color: #02346e;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 12vh;
  width: 99%;
}

.blackbglBTM {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 22px;
  padding: 5px;
  display: flex;
}

@media screen and (max-width: 800px) {
  .ltxt {
    font-size: 40px;
    color: #fff;
    float: left;
  }
  .lbgs {
    display: block;
    width: 100%;
    clear: both;
  }
  .ybgl-left {
    display: flex;
    padding-left: 10px;
    width: 100%;
    clear: both;
  }
  .ybgl {
    background-color: #fbb03b;
    border-radius: 22px;
    border: 9px solid #db6432;
    display: block;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }
  .ttss {
    margin-top: 20px;
  }
  .evalue {
    margin-top: 12px;
  }
}

@media screen and (max-width: 350px) {
  .ltxt {
    font-size: 20px;
    color: #fff;
    float: left;
  }
  .evalue {
    width: 45px;
    font-size: 32px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-left: 17px;
  }
}

.bottomboard-container {
  background-color: #02346e;
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}
.clear {
  clear: both;
}
